body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-image: linear-gradient(to bottom right,#2E3192,#1BFFFF);
    background-size: 200%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;  
     overflow: scroll; 
}

.ani{
    transition: transform 0.7s ease;
    
}

header {
    
    
    text-align: center;
    height: 80vh;
    margin-top:  100px;
    margin-bottom: 150px;
}

.name{
    padding-bottom: 100px;
    border-bottom-style:dashed;
    border-radius: 20%;
}
.headingMain>h1{
    
    margin-top: -10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 80px;
    width: fit-content;

}

.headingMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
}


#outline1{
    
    color: transparent;
    -webkit-text-stroke: 1px white;
    opacity: 0.8;
}

#outline2{
    color: transparent;
    -webkit-text-stroke: 1px white;
    opacity: 0.6;
}

#outline3{
    color: transparent;
    -webkit-text-stroke: 1px white;
    opacity: 0.4;
}

#outline4{
    color: transparent;
    -webkit-text-stroke: 1px white;
    opacity: 0.2;
}

.headingCap{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    border-color: azure;
    border-style: solid;
    border-radius: 100rem;
    padding: 10px 20px;
    
    
}

.headingCap > h5{
    width: fit-content;
    margin: 0;
    font-size: 17px;
   
}


.name>h2{
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.name>p{
    
    margin-top: 0px;
    margin-bottom: 5px;
}


.image img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    width: 600px;
}

.image img:hover{
    transform: scale(1.05); /* Slight zoom */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds depth */
}


.image{
    margin-top: 20px;
    
    
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pHeading{
    margin-bottom: 10px;
    font-size: 40px;
}

.pCaption{
    margin-top: 0px;
    font-size: 20px;
}

.project{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



#iprobo{
    display: none;
    position:fixed;
    top: 400px; left: 660px;
    justify-content: center;
    align-items: center;
    top: 50%; left: 50% ;
    transform: translate(-50%, -50%);  /* Perfect centering */
    z-index: 9999;          
}

#portal{
    display: none;
    position:fixed;
    top: 50%; left: 50% ;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);  /* Perfect centering */
    z-index: 9999;           
    
}

.popup{
    padding: 0px 40px;
    width:fit-content;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: #2E3192;
    border-radius: 20px;
    border-width: 1px;
    border-color:#2E3192; 
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.popup p{
    text-align: center;
}

.btn{
    width: fit-content;
    padding: 8px 24px ;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgb(25, 173, 106);
    color: white;

}

@media(max-width:600px){
    
    
    .headingMain h1{
        font-size: 50px;
    }

    .image img{
       width: 350px;
 
    }
    
    
      header {
    
    
            text-align: center;
            height: 700px;
            margin-top:  100px;
            margin-bottom: 100px;
    }
        
   .project{
    margin-top: 10px;
   }

    .popup{
        width: 300px;
        
    }

   
}